<!DOCTYPE html>
<html>
<head>
    <title>Display Data</title>
</head>
<body>
    <h1>User Data</h1>
    <table>
        <thead>
            <tr>
                {% for column in columns %}
                <th>{{ column[0] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form method="GET" action="/">
        <input type="submit" value="Back">
    </form>
</body>
</html>
